<div class='page-title-container'>
  <h1>Odin Events</h1>
</div>

<div class='events-container'>
  <h3 class='event-category'>Upcoming Events</h3>
  <%= render @events.upcoming.order(:date), upcoming: true %>
  <h3 class='event-category'>Past Events</h3>
  <%= render @events.past.order(date: :desc), upcoming: false %>
</div>