// Place all the styles related to the events controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

.invitation-list-item {
  display: flex;
  justify-content: space-between;
  width: 200px;
  padding: 6px;
  list-style-type: none;
}

.ACCEPTED {
  background-color: lightblue;
  font-weight: 600;
}

.PENDING {
  background-color: lightgreen;
}

.DECLINED {
  background-color: lightcoral;
}